//
// Buttons
// ---------------------------

button {
    background-color: transparent;
    border: none;
    padding: 0;
}
.button {
    font: inherit;
    font-size: small;
    margin: 0;
    outline: 0;
    color: black;
    padding: 1px 6px;
    text-decoration: none;
    display: inline-block;
    background-color: #98daca;
    border: none;
    border-radius: 2px;
    &:hover {
        background-color: #fbeecb;
        color: #0040D0;
    }
}